/***
Grid
***/
.container {
  max-width: 1280px;
  margin: auto;
  width: 90%;
}

/*********** Home **********/
.homepage .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 120px;
  flex: 0 0 100%;
}
.top-two {
  display: flex;
  align-items: center;
  gap: 50px;
}
.homepage h2 {
  font-size: 32px;
  font-weight: bold;
}
.homepage h2 span {
  color: #ee4c7c;
  font-size: 40px;
}
.homepage h3 {
  font-size: 36px;
  font-weight: normal;
  color: #9a1750;
  margin: 40px 0 20px 0;
}
.homepage h4 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.icon-profile {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.icon-profile svg {
  font-size: 40px;
  color: black;
}
.icon-profile .facebook svg {
  font-size: 35px;
}
.icon-profile .linkedin svg {
  font-size: 39px;
}
.icon-profile a:hover svg {
  color: #ee4c7c;
}

.bottom-button {
  display: flex;
  gap: 90px;
}

.bottom-button a {
  padding: 20px 60px;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(238, 76, 124, 0.2);
}
.bottom-button a:hover {
  background-color: #ee4c7c;
  color: white;
}
a:hover {
  color: #ee4c7c;
}
.photo img {
  border-radius: 50%;
  border: 2px solid rgb(238, 238, 238);
  box-shadow: 0 4px 8px rgba(238, 76, 124, 0.2);
}
.homepage .right-section h4 {
  color: #5d001e;
  font-weight: normal;
}
a {
  text-decoration: none;
}

/*********** other pages ********/
.header-area {
  display: flex;
  align-items: center;
  gap: 120px;
}
.nav-right {
  display: flex;
  font-size: 20px;
  flex: 2 1 auto;
  gap: 80px;
  margin-top: 18px;
}
div.nav-right a {
  color: #000;
  border-bottom: 2px solid transparent;
}
.nav-right a:hover,
.nav-right .active {
  border-bottom: 2px solid #ee4c7c;
}
.logo-area {
  flex: 0 0 auto;
}
.logo a {
  text-decoration: none;
  font-size: 60px;
  color: black;
}
.logo {
  margin-top: 40px;
}

.logo a:hover {
  color: #ee4c7c;
}
.title {
  margin-top: 100px;
}
.title h2 {
  text-transform: uppercase;
  font-size: 34px;
  color: rgb(100, 100, 100);
  margin-bottom: 10px;
  letter-spacing: 3px;
}
.title .border {
  height: 2px;
  width: 80px;
  background-color: #ee4c7c;
}

.filter {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 70px;
}
.filter button {
  background: black;
  color: #fff;
  border: 0;
  padding: 20px 45px;
  font-size: 20px;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(238, 76, 124, 0.2);
  text-transform: uppercase;
}
.filter button:hover {
  background-color: #ee4c7c;
}

.card-list {
  margin-top: 70px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  flex: 3;
}
.card {
  border-radius: 7px;
  background-color: #e3afbc;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.card-list a:hover .info h4 {
  text-decoration: underline;
}
.card-list h4 {
  color: #000;
}

.form-area form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  margin-top: 50px;
}
.form-area input,
.form-area textarea {
  border-radius: 9px;
  font-size: 18px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #000;
}
.form-area label {
  margin-top: 26px;
}
input[type="submit"] {
  margin-top: 30px;
  background-color: #000;
  color: #fff;
  border: 0;
  cursor: pointer;
  padding-top: 13px;
  padding-bottom: 13px;
  box-shadow: 0 4px 8px rgba(238, 76, 124, 0.2);
}
input[type="submit"]:hover {
  background-color: rgba(238, 76, 124);
}
.form-area .error {
  border-color: #ee4c7c;
}

.blog-container {
  max-width: 720px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 50px;
  color: #000;
}
.blog-container .title {
  margin-bottom: 30px;
}
.tech-details p {
  margin: 10px 0;
}

@media screen and (max-width: 900px) {
  .content .top-two {
    flex-direction: column;
    margin-top: 80px;
  }
  .content .bottom-button {
    gap: 60px;
  }
  .bottom-button a {
    padding: 15px 40px;
  }
  .homepage .content {
    height: auto;
  }
  .card-list {
    flex-direction: column;
  }
  .card {
    flex-direction: row;
    gap: 50px;
  }
  .card img {
    border-bottom-left-radius: 7px;
    border-top-right-radius: 0;
    max-width: 200px;
  }
  .title h2 {
    font-size: 28px;
  }
  .filter button {
    padding: 15px 35px;
    font-size: 18px;
    gap: 50px;
  }
  .filter {
    gap: 50px;
  }
}
@media screen and (max-width: 600px) {
  .bottom-button a {
    padding: 16px 30px;
    font-size: 18px;
    text-align: center;
  }
  .homepage h2 span {
    font-size: 36px;
  }
  .homepage h2 {
    font-size: 28px;
  }
  .homepage h3 {
    font-size: 28px;
    margin-top: 25px;
  }
  .homepage h4 {
    font-size: 20px;
  }
  .homepage .content {
    gap: 80px;
  }
}
@media screen and (max-width: 550px) {
  .content .bottom-button {
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
  }
  .homepage h2 {
    font-size: 18px;
  }
  .homepage h2 span {
    font-size: 24px;
  }
  .homepage h3 {
    font-size: 22px;
  }
  .homepage h4 {
    font-size: 18px;
  }
  .icon-profile svg {
    font-size: 30px;
  }
  .icon-profile {
    gap: 35px;
  }
  .icon-profile .linkedin svg {
    font-size: 32px;
  }
  .icon-profile .facebook svg {
    font-size: 29px;
  }
}
